.contador{
   min-width: 300px;
   height: 300px;
   font-size: 160px;
   padding: 25px;;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
   background-color: #008542;
   margin-bottom: 15px;
   text-decoration: none;
   font-weight: 900;
}